#books h4{
    color: #011E33 !important;
}

#books .card {
    margin: 5px;
    float: left;
    overflow: hidden;
    max-width: 17rem;
    border-color:black;
}

#books .card-header{
    color: white;
    background-color: #E2182D;
    text-transform: uppercase;
}

#books .white {
    background-color: white;
    padding: 5px;
    text-align: center;
}

#books .btn-primary {

}
